*{
    margin: 0;
    padding: 0;
}

.slider{
    width: 100%;
    margin: auto;
    height: 310px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 20px;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;

    animation: slider 15s infinite alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider li img{
    width: 100%;
}

@keyframes slider{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}